.container {
  width: 516px;
  padding: 20px; 
  margin: 0 auto;
  border: 1px solid #ddd; 
  border-radius: 10px; 
  background-color: #f5efe8; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.15);
}
.completed {
  color: green;
}
.uncompleted {
  color: red;
}